@import url(../vendor/fonts/fonts.css);

.body {
  background-color: #2A2C2F;
}

.center {
  margin: 0 auto;
}

.page {
  margin: 0 auto;
  max-width: 1280px;
	font-family: 'Inter', Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: calc(100% - 48px * 2);
  padding-top: 28px;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  column-gap: 18px;
}

.header__lang-link {
  margin: 0;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  transition: opacity .3s;
}

.header__lang-link:hover {
  opacity: .8;
}

.header__lang-link_active {
  text-decoration: underline;
}

.lead {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: calc(100% - 148px * 2);
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  padding: 56px 0 92px;
}

.lead__title {
  margin: 0;
  font-size: 96px;
  font-weight: 900;
  line-height: 1;
  max-width: 720px;
}

.lead__subtitle {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 640px;
  margin: 40px 0 64px;
}

.lead__image {
  display: block;
  width: 100%;
}

.lead__caption {
  margin: 0;
  align-self: start;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 8px;
}

.intro {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  padding-left: 148px;
  max-width: 690px;
}

.intro__title {
  margin: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 1;
}

.intro__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  margin: 44px 0 32px;
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.intro__element {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.intro__element_weight_bold {
  font-weight: 700;
}

.photo-grid {
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  width: calc(100% - 48px * 2);
  grid-gap: 16px;
  padding: 92px 0;
}

.photo-grid__item {
  box-sizing: border-box;
  display: block;
  width: 100%;
  object-fit: cover;
}

.places {
  padding-bottom: 92px;
  width: calc(100% - 148px * 2);
}

.places__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  row-gap: 86px;
}

.places__place {
  display: grid;
  grid-template-areas:
  "title website"
  "image paragraphs";
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  grid-row-gap: 48px;
  grid-column-gap: 40px;
  width: 100%;
}

.places__title {
  grid-area: title;
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 1;
}

.places__image {
  display: block;
  grid-area: image;
  width: 100%;
  object-fit: cover;
}

.places__website {
  grid-area: website;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: end;
}

.places__url-heading {
  margin: 0;
  color: #AAAAAA;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 2px;
}

.places__link {
  margin: 0;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  transition: opacity .3s;
  text-underline-offset: 3px;
  margin-bottom: -9px;
}

.places__link:hover {
  opacity: .8;
}

.places__paragraphs {
  grid-area: paragraphs;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.places__paragraph {
  margin: 0;
  padding-top: 6px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.cover {
  width: calc(100% - 48px * 2);
}

.cover__overlay-link {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  gap: 32px;
  width: 100%;
  min-height: 740px;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.cover__overlay-link::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, 1);
  opacity: .3;
  z-index: 1;
  transition: opacity .3s;
}

.cover__overlay-link:hover::before {
  opacity: .8;
}

.cover__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.cover__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  max-width: 560px;
  z-index: 2;
  padding-top: 10px;
}

.cover__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  max-width: 360px;
  z-index: 2;
}

.footer {
  width: calc(100% - 48px * 2);
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 96px 0 24px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 18px;
}

.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  transition: opacity .3s;
}

.footer__link:hover {
  opacity: .8;
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
}

@media screen and (max-width: 1279px) {
  .lead {
    width: calc(928px + (984 - 928) * (100vw - 1024px) / (1280 - 1024));
  }

  .lead__subtitle {
    margin-bottom: calc(56px + (64 - 56) * ((100vw - 1024px) / (1280 - 1024)));
    margin-top: 33px;
  }

  .intro {
    padding-left: calc(48px + (148 - 48) * ((100vw - 1024px)  /  (1280 - 1024)));
  }

  .places {
    width: calc(928px + (984 - 928) * (100vw - 1024px) / (1280 - 1024));
  }

  .places__place {
    grid-template-columns: calc(440px + (460 - 440) * ((100vw - 1024px)  /  (1280 - 1024))) calc(456px + (484 - 456) * ((100vw - 1024px)  /  (1280 - 1024)));
    grid-column-gap: calc(32px + (40 - 32) * ((100vw - 1024px)  /  (1280 - 1024)));
  }

  .places__paragraphs {
    gap: 21px;
  }

  .places__paragraph {
    padding-top: 3px;
  }

  .cover {
    width: calc(1024px + (1184 - 1024) * (100vw - 1024px) / (1280 - 1024));
  }

  .cover__overlay-link {
    min-height: calc(640px + (740 - 640) * (100vw - 1024px) / (1280 - 1024));
  }
}


@media screen and (max-width: 1023px) {
  .page {
    max-width: 1024px;
  }

  .header {
    width: calc(720px + (928 - 720) * (100vw - 768px) / (1024 - 768));
  }

  .lead {
    width: calc(768px + (928 - 768) * (100vw - 768px) / (1024 - 768));
    padding: 48px 0 calc(88px + (92 - 88) * (100vw - 768px) / (1024 - 768));
  }

  .lead__subtitle {
    margin: 40px 0 56px;
  }

  .lead__caption {
    padding-left: calc(24px + (0 - 24) * ((100vw - 768px)  /  (1024 - 768)));
  }

  .intro {
    max-width: calc(720px + (690 - 720) * ((100vw - 768px)  /  (1024 - 768)));
    padding-left: calc(24px + (48 - 24) * ((100vw - 768px)  /  (1024 - 768)));
  }

  .intro__text {
    margin: 44px 0 32px;
  }

  .photo-grid {
    grid-gap: 14px;
    width: calc(720px + (928 - 720) * ((100vw - 768px)  /  (1024 - 768)));
    padding: calc(92px + (92 - 92) * ((100vw - 768px) / (1024 - 768))) 0;
  }

  .places {
    width: calc(720px + (928 - 720) * ((100vw - 768px)  /  (1024 - 768)));
    padding-bottom: 93px;
  }

  .places__place {
    grid-template-columns: calc(340px + (440 - 340) * ((100vw - 768px)  /  (1024 - 768))) calc(352px + (456 - 352) * ((100vw - 768px)  /  (1024 - 768)));
    grid-column-gap: calc(28px + (32 - 28) * ((100vw - 768px)  /  (1024 - 768)));
  }

  .places__list {
    row-gap: calc(71px + (86 - 71) * ((100vw - 768px) / (1024 - 768)));
  }

  .places__title {
    font-size: calc(42px + (72 - 42) * ((100vw - 768px)  /  (1024 - 768)));
    letter-spacing: 0.8px;
  }

  .places__paragraphs {
    gap: 20px;
  }

  .places__paragraph {
    font-size: calc(16px + (18 - 16) * ((100vw - 768px)  /  (1024 - 768)));
    padding-top: 4px;
  }

  .cover {
    width: 100%;
  }

  .cover__overlay-link {
    min-height: calc(480px + (640 - 480) * ((100vw - 768px)  /  (1024 - 768)));
  }

  .cover__title {
    padding-top: 0;
  }

  .footer {
    width: calc(720px + (928 - 720) * ((100vw - 768px)  /  (1024 - 768)));
    padding-top: 83px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: calc(288px + (720 - 288) * (100vw - 320px) / (768 - 320));
    padding-top: calc(16px + (28 - 16) * (100vw - 320px) / (768 - 320));
    align-items: center;
  }

  .header__logo {
    width: calc(142px + (176 - 142) * (100vw - 320px) / (768 - 320));
    height: calc(42px + (52 - 42) * (100vw - 320px) / (768 - 320));
  }

  .header__lang-link {
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (768 - 320)));
    line-height: 1.1;
  }

  .lead {
    width: 100%;
    padding: 48px 0 64px;
  }

  .lead__title {
    font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (768 - 320)));
    line-height: 1.1;
  }

  .lead__subtitle {
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (768 - 320)));
    margin: calc(16px + (32 - 16) * ((100vw - 320px) / (768 - 320))) 0 calc(40px + (56 - 40) * ((100vw - 320px) / (768 - 320)));
  }

  .lead__caption {
    padding-left: calc(16px + (0 - 16) * ((100vw - 320px) / (768 - 320)));
  }

  .intro {
    max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
    padding-left: calc(16px + (24 - 16) * ((100vw - 320px) / (768 - 320)));
  }

  .intro__title {
    font-size: calc(32px + (54 - 32) * ((100vw - 320px) / (768 - 320)));
    line-height: 1.1;
  }

  .intro__text {
    margin: 40px 0 34px;
  }

  .photo-grid {
    width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
    padding: calc(64px + (88 - 64) * ((100vw - 320px) / (768 - 320))) 0;
    grid-gap: 12px;
  }

  .places {
    width: calc(320px + (720 - 320) * ((100vw - 320px) / (768 - 320)));
    padding-bottom: calc(66px + (90 - 66) * ((100vw - 320px) / (768 - 320)));
  }

  .places__place {
    justify-content: center;
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraphs";
    grid-row-gap: calc(33px + (48 - 33) * ((100vw - 320px) / (768 - 320)));;
    grid-template-columns: calc(320px + (340 - 320) * ((100vw - 320px) / (768 - 320)));
  }

  .places__list {
    row-gap: calc(50px + (79 - 50) * ((100vw - 320px) / (768 - 320)));
  }

  .places__title {
    font-size: calc(32px + (42 - 32) * ((100vw - 320px) / (768 - 320)));
    letter-spacing: 0;
    padding: 0 16px;
  }

  .places__website {
    align-self: start;
    padding: 0 16px;
  }

  .places__paragraphs {
    gap: 25px;
    padding: 0 16px;
  }

  .places__paragraph {
    font-size: 16px;
    line-height: 1.63;
    padding-top: 0;
  }

  .cover__overlay-link {
    gap: calc(16px + (32 - 16) * ((100vw - 320px) / (768 - 320)));
    min-height: calc(200px + (480 - 200) * ((100vw - 320px) / (768 - 320)));
  }

  .cover__title {
    max-width: 288px;
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (768 - 320)));
  }

  .cover__subtitle {
    max-width: 288px;
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (768 - 320)));
    line-height: 1.1;
    padding: 0 27px;
  }

  .footer {
    max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: calc(64px + (88 - 64) * ((100vw - 320px) / (768 - 320)));
  }

  .footer__list {
    flex-direction: column;
    gap: 32px;
  }

  .footer__link {
    font-size: calc(24px + (18 - 24) * ((100vw - 320px) / (768 - 320)));
    line-height: 1;
  }
}
